body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(245, 236, 220);
    background-image: url('beachbackground.jpg'); /* Specify the URL of your background image */
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: cover;
    
  }
  
  h1 {
    
    text-align: center;
    color: rgb(44, 44, 34);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: 24px;
  }
  
  input[type="text"],
  input[type="number"] {
    width:96.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(44, 44, 34);
    color: rgb(235, 216, 184);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(70, 70, 59) ;
  }